label{
    display: block;
}
input,label {
    margin: 0.4rem 0;
}
body{
    background: url(/images/pexels-dazzle-jam-1029783.jpg);    
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
    font-weight: 700;
}
#myForm{
    margin-left: 20%;
    border: 1px solid black;    
    background-color: rgba(220, 220, 220, 0.5);    
    height: 600px;
    width: 60%;
    border-radius: 4%;
    display: flex;
    flex-direction: column;    
    align-items: left;
    margin-top: 8%;    
}
.dateinput{
    margin-top: 10px;    
    justify-content: space-evenly;
}
.btn{
    margin-top:20%;
    color: black !important;      
  }
.btn:hover{
    background-color: black !important;
    color: white !important;

}
  .text{
    color: black;
    font-weight: 700;   
    text-align: center;
}
.dategender{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50% !important;
    height: 60%;
    background-color: white;
    border-radius: 6%;    
}
.forms-checker{
    margin-top: 20px;
}
#message{     
    
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    text-align: center;      
}
#pmessage{
    width: 50% !important;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.9); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 25%;
    margin-top: 280px;
}
@media screen and (max-width: 1024px) {
.dategender{
    width: 70% !important;
    margin-bottom: 10%;
}
.btn{
    margin-top: 20%;
}
#myForm{
    width: 90%;
    margin: 30px;
}
.text{
    color: black;
    font-weight: 700;   
    text-align: center;
}
}